@import "common-color";
@import "common-variable";

.font-22 {
  font-size: 22px;
}

.font-18 {
  font-size: 18px;
}

.font-32 {
  font-size: 32px;
}

.padding-left(@padding) {
  padding-left: @padding;
}

.input-fix {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.content-wrap {
  margin-left: 116px;
  background: @color-main-background;
  height: 854px;
  width: 985px;
}
